<html>
    <head>
        <script type="text/javascript" charset="utf8" language="javascript">
        if ((typeof jQuery == 'undefined') || (typeof jQuery.fn.dataTable == 'undefined')) {
           document.write(unescape("%3Cscript src=\"http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js\" type=\"text/javascript\"%3E%3C/script%3E"));
           document.write(unescape("%3Cscript src=\"http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js\" type=\"text/javascript\"%3E%3C/script%3E"));
           document.write(unescape("%3Cscript src=\"http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.2/jquery-ui.min.js\"%3E%3C/script%3E"));
        }
        </script>
    </head>
    <body>
        <br>
            <div id="image_holder" class="plot">
                <img src="{{png}}"/>
            </div>
        <br>
    </body>
</html>