<html>
    <title>Diagnostics</title>
    <link rel="stylesheet" href="{{STATIC_URL}}lib/css/bootstrap.min.css"/>
    <script src="{{STATIC_URL}}ext/js-core/jquery-1.8.3.min.js"></script>
    <script src="{{STATIC_URL}}lib/js/bootstrap.min.js"></script>

        <script src="{{STATIC_URL}}ext/js-core/autobahn.min.js"></script>
	<script src="{{STATIC_URL}}ext/js-core/gl-matrix-min.js"></script>
        <script src="{{STATIC_URL}}ext/js-core/jquery.hammer.min.js"></script>

        <script src="{{STATIC_URL}}ext/widgets/jscolor/jscolor.js"></script>
        <script src="{{STATIC_URL}}ext/widgets/jquery-ui/jquery-ui-1.10.0.min.js"></script>

        <script src="{{STATIC_URL}}lib/js/vtkweb-all.js"></script>
        <script src="{{STATIC_URL}}lib/js/uvis.js"></script>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://uvcdat.llnl.gov">UV-CDAT Live</a>
        </div>
        <div>
            <p class="navbar-text navbar-right">
            <a href="#" class="navbar-link">448000</a>&nbsp;|
            <a href="#" class="navbar-link">Logout</a>
            </p>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-2" id="Left">
            <ul class="nav nav-tabs" id=projectTab>
                <li class=active> <a href="#Project1" data-toggle="tab">Project1</a></li>
                <li> <a href="#Sheet2" data-toggle="tab">+</a></li>
            </ul>
            <div class="tab-pane active" id="Project1">
                <div class=row>
                    <div class="col-md-12" id="Project1Div" style="height:800px;box-shadow: 0 0 2px grey">
                    </div>
                </div> 
            </div>
        </div>
        <div class="col-md-7" id="Center">
            <ul class="nav nav-tabs" id=sheetTab>
                <li class=active> <a href="#Sheet1" data-toggle="tab">Sheet1</a></li>
                <li id='lastSheet'> <a href="#Sheet1" data-toggle="tab">+</a></li>
            </ul>
            <div class="tab-pane active" id="Sheet1">
                <div class=row>
                    <div class="col-md-6" id="Sheet1Canvas1" style="height:400px;box-shadow: 0 0 2px grey">
            			<div id="viewport-container1" ></div>
                    </div>
                    <div class="col-md-6" id="Sheet1Canvas2" style="height:400px;box-shadow: 0 0 2px grey">
                        <div id="viewport-container2" ></div>
                    </div>
                </div>
                <div class=row>
                    <div class="col-md-6" id="Sheet1Canvas3" style="height:400px;box-shadow: 0 0 2px grey">
            			<div id="viewport-container3" ></div>
                    </div>
                    <div class="col-md-6" id="Sheet1Canvas4" style="height:400px;box-shadow: 0 0 2px grey">
            			<div id="viewport-container4" ></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3" id="Right">
            <ul class="nav nav-tabs" id=diagTab>
                <li> <a href="#Variables" data-toggle="tab">Variables</a></li>
                <li class=active> <a href="#Diagnostic" data-toggle="tab">Diagnostic</a></li>
                <li> <a href="#ESGF" data-toggle="tab">ESGF</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="Variables"></div>

                <div class="tab-pane active" id="Diagnostic">
                    <div class="panel-group" id="diagAccordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <a data-toggle="collapse" data-parent="#diagAccordion" href="#diagCollapseOne">Submit a Job</a>
                                </div>
                            </div>
                            <div id="diagCollapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <br>
                                        <label for="inputPackage" class="col-sm-2 control-label">Package</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="inputPackage">
                                                    <option value="AMWG"></option>
                                                    <option value="AMWG">AMWG</option>
                                                </select>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputObs" class="col-sm-2 control-label">Obs</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="inputObs">
                                                </select>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPlotSet" class="col-sm-2 control-label">Set</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="inputPlotSet">
                                                </select>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputSeason" class="col-sm-2 control-label">Season</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="inputSeason">
                                                </select>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputVariable" class="col-sm-2 control-label">Variable</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="inputVariable">
                                                </select>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputAux" class="col-sm-2 control-label">Auxiliary</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="inputAux">
                                                </select>
                                            </div>
                                    </div>
                                   <div class="form-group">
                                       <div class="col-sm-offset-2 col-md-2">
                                           <button type="submit" class="btn btn-default" id="diagSubmitJob">Submit</button>
                                       </div>
                                   </div>
                                </form>
                            </div>
                        </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <a data-toggle="collapse" data-parent="#diagAccordion" href="#diagCollapseTwo">Results</a>
                                </div>
                            </div>
                            <div id="diagCollapseTwo" class="panel-collapse collapse">
                                <table id = resultTable>
                                </table>
                            </div>
                        </div>
                </div> 
                <div class="tab-pane" id="ESGF"></div>
        </div>
    </div>
</div>
    <script type="text/javascript">
        function addSheet(){
            var myelement = document.getElementById('sheetTab');
            var lastNode=document.getElementById('lastSheet');
            var childrenList=$('#sheetTab').children();
            var total=childrenList.length;
            for (i=0;i<total;i++){
                var child=childrenList[i];
                if (child.hasAttribute('class')){
                    var newnode = childrenList[0].cloneNode(true);
                    newnode.childNodes[1].innerHTML='Sheet'+total;
                    myelement.insertBefore(newnode,lastNode);
                    child.removeAttribute('class');
                }
            }
        }

        function toggle(task_id) {
            myDiv = document.getElementById(task_id);

            if (myDiv.style.display=='none')
            {
                myDiv.style.display='block';

                if (!myDiv.hasChildNodes())
                {
                    /*
				    if (pv.connection && pv.connection.session) {
            				var selected = "/export/leung25/uvis/apps/uweb/media/diag/2/test.nc"
	    				pv.connection.session.call("vtk:is_initRender").then(function(res) {
	    				    if (res){
					        pv.connection.session.call("vtk:setFileName",selected).then(function(res){
			                            console.log("setPlotType: ready to run stillRender");
                        		            pv.viewport.render();
	    	    			        });
	        		    	    }
	        		    	    else
	        		            {
	    	    		                pv.connection.session.call("vtk:setFileName",selected).then(function(res){
                        		            console.log("Calling setPlotType: ready to run initRender");
                                                    initRender();
                                                    console.log("Called initRender()");
	            		                });
	        			     }
	    		    	   	});
                                        }
                    */
                     
                    $.ajax({url: 'http://localhost:8000/diag/api/load_output/'+task_id+'/',
                        data:{},
                        type: 'GET',
                        success: function(data){
                            myList = data['output_list'];
                            inner_html='';
                            if (myList.length > 0) {
                                count = myList.length;
                                index = 0;
                                myplot1.setData(myList[index++]['fullpath'],function(){
                                    myplot1.render();
                                    if (index < count){
                                        myplot2.setData(myList[index++]['fullpath'],function(){
                                            myplot2.render();
                                            if (index < count){
                                                myplot3.setData(myList[index++]['fullpath'], function(){
                                                    myplot3.render();
                                                    if (index < count) {
                                                        myplot4.setData(myList[index++]['fullpath'], function() {
                                                            myplot4.render();
                                                        });
                                                    }
                                                });
                                            }
                                        });
                                    }
                                });
                            }
                            if (sessionStorage.diagcount){ 
                                console.log(sessionStorage.diagcount);
                                if (Number(sessionStorage.diagcount) > 1) {
                                    addSheet();
                                }
                            }
                            for (var i = 0; i < myList.length; i++)
                            {
                                myTitle=myList[i]['filename'];
                                inner_html+=("<h6>"+myTitle+"</h6>");
                                /*
                                if (i==0)
                                {
                                    console.log(myTitle);
                                    myplot1.setData(myTitle,myplot1.render);
                                }
                                else if (i==1)
                                {
                                    console.log(myTitle);
                                    myplot2.setData(myTitle,myplot2.render);
                                }
                                else if (i==2)
                                {
                                    console.log(myTitle);
                                    myplot3.setData(myTitle,myplot3.render);
                                }
                                else if (i==3)
                                {
                                    myplot4.setData(myTitle,myplot4.render);
                                }
                                */
                            }
                            myDiv.innerHTML=inner_html;
                        },
                        error: function(){alert('ERROR: unable to load output');}
                    });
                }
            }
            else
            {
                myDiv.style.display='none';
            }
        }

        $('#diagTab a').click(function(e) {
            e.preventDefault();
            $(this).tab('show');
        });


        $('#diagSubmitJob').click(function(e) {
                e.preventDefault();
                if (sessionStorage.diagcount){
                    sessionStorage.diagcount=Number(sessionStorage.diagcount)+1;
                    
                }
                else {
                    sessionStorage.diagcount=1;
                }
                
                myPlotSet=$('#inputPlotSet').val().replace(/\"/g,"");
                myPackage=$('#inputPackage').val();
                myVariable=$('#inputVariable').val();
                mySeason=$('#inputSeason').val();
                myObs=$('#inputObs').val();
                
                $.ajax({url:'http://localhost:8000/diag/api/run_elo/',
                    data:{'plot_package':myPackage,'plot_set':myPlotSet, 'variableID':myVariable, 'seasonID':mySeason, 'plot_obs':myObs},
                    type:'GET',
                    success:function(data){
                        task_id=data['task_id'];
			//$('#resultTable').append("<tr><td><a href=javascript:toggle("+task_id+");>"+task_id+"</a></td></tr><tr><td><div id=" + task_id+" style='display:none'></div></td></tr>");
                        $('#resultTable').append("<tr><td><a href=javascript:toggle("+task_id+");>"+task_id+"</a></td><td>&nbsp;<div id=progress"+task_id+ " class='progress progress-striped active'><div class='progress-bar'  role='progressbar' aria-valuenow=45 aria-valuemin=0 aria-valuemax=100 style='width: 40px'></div></div></td></tr><tr><td><div id=" + task_id+" style='display:none'></div></td></tr>");
                        //updateLoop(task_id);
                        (function updateLoop(task_id){
                            $.ajax({url:'http://localhost:8000/diag/api/get_status/'+task_id+'/', data:{},type:'GET',
                            success: function(data1){
                                myStatus=data1['status'];
                                if (myStatus=='0')
                                {
                                    setTimeout(function() {updateLoop(task_id);}, 1000);
                                }
                                else
                                {
                                    $("#progress"+task_id).remove();
                                    toggle(task_id);  
                                }
                            },
                            error: function(){alert('ERROR in progress bar update');}});
                        })(task_id);
                    },
                    error: function(){alert('ERROR: unable to get task id');}
                    });
                $('#diagCollapseTwo').collapse('show');
        });

        $('#resultTable a').click(function(e){
            alert($(this).id);
        });

        $('#inputPackage').change(function() {
                $.ajax({url:'http://localhost:8000/diag/api/get_plot_obs/',
                data:{},
                type:'GET',
                success:function(data){
                    plot_obs_list=data['observation_list'];
                    plot_obs_list.sort();
                    $('#inputObs').empty();
                    $('#inputObs').append("<option value=''></option>");
                    for (var i = 0; i< plot_obs_list.length; i++)
                    {
                        opt=plot_obs_list[i];
                        if (opt=="NCEP")
                        {
                            $('#inputObs').append("<option value="+'"' + opt +'"'+" selected>"+opt+"</option>");
                        };
                        $('#inputObs').append("<option value="+'"' + opt +'"'+">"+opt+"</option>");
                    }
                },
                error: function(){alert('ERROR: unable to get plot observations');}
                });
            myPackage=$('#inputPackage').val();
            $.ajax({url:'http://localhost:8000/diag/api/get_plot_set/',
                data:{'plot_package':myPackage},
                type:'GET',
                success:function(data){
                    plot_set_list=data['plot_set'];
                    plot_set_list.sort();
                    $('#inputPlotSet').empty();
                    $('#inputPlotSet').append("<option value=''></option>");
                    for (var i = 0; i< plot_set_list.length; i++)
                    {
                        opt=plot_set_list[i];
                        $('#inputPlotSet').append("<option value="+'"' + opt +'"'+">"+opt+"</option>");
                    }
                },
                error: function(){alert('ERROR: unable to get plot set');}
                });
            $.ajax({url:'http://localhost:8000/diag/api/get_plot_seasons/',
                data:{'plot_package':myPackage},
                type:'GET',
                success:function(data){
                    plot_seasons=data['season_list'];
                    plot_seasons.sort();
                    $('#inputSeason').empty();
                    $('#inputSeason').append("<option value=''></option>");
                    for (var i = 0; i< plot_seasons.length; i++)
                    {
                        opt=plot_seasons[i];
                        $('#inputSeason').append("<option value=" + opt +">"+opt+"</option>");
                    }
                },
                error: function(){alert('ERROR: unable to get plot set');}
                });
        });
        $('#inputPlotSet').change(function() {
            myPlotSet=$('#inputPlotSet').val();
            myPackage=$('#inputPackage').val();
            myObs=$('#inputObs').val();
            $.ajax({url:'http://localhost:8000/diag/api/get_plot_variable/',
                data:{'plot_package':myPackage,'plot_set':myPlotSet,'plot_obs':myObs},
                type:'GET',
                success:function(data){
                    plot_variables=data['variables_list'];
                    plot_variables.sort();
                    $('#inputVariable').empty();
                    $('#inputVariable').append("<option value=''></option>");
                    for (var i = 0; i< plot_variables.length; i++)
                    {
                        opt=plot_variables[i];
                        $('#inputVariable').append("<option value=" + opt +">"+opt+"</option>");
                    }
                },
                error: function(){alert('ERROR: unable to get plot variables');}
                });
        });

        $('#inputVariable').change(function() {
            myPlotSet=$('#inputPlotSet').val();
            myPackage=$('#inputPackage').val();
            myVariable=$('#inputVariable').val();
            myObs=$('#inputObs').val();
            $.ajax({url:'http://localhost:8000/diag/api/get_plot_aux_options/',
                data:{'plot_package':myPackage,'plot_set':myPlotSet, 'plot_variable':myVariable,'plot_obs':myObs},
                type:'GET',
                success:function(data){
                    plot_aux=data['aux_list'];
                    $('#inputAux').empty();
                    $('#inputAux').append("<option value=''></option>");
                    if (plot_aux != null)
                    {
                        for (var i = 0; i< plot_aux.length; i++)
                        {
                            opt=plot_aux[i];
                            $('#inputAux').append("<option value=" + opt +">"+opt+"</option>");
                        }
                    };
                },
                error: function(){alert('ERROR: unable to get plot auxiliary');}
                });
        });

//	var pv = { pipeline: null, sources: null, files: null},
//    fetchDataQueueSize = 0;
//    $("#loading").hide();
//    pv.connection = { sessionURL: "ws://localhost:8080/ws"};
//    connect();
//
//    function connect() {
//        if(location.protocol == "http:") {
//            pv.connection.sessionURL = pv.connection.sessionURL.replace("wss:","ws:");
//        }
//
//        vtkWeb.connect(pv.connection, function(connectionData) {
//            pv.connection = connectionData;
//            createViewport();
//            testDisplay();
//        }, function(code,reason){
//            $(".loading").hide();
//            console.log(reason);
//        });
//    }
//
//    function createViewport() {
//        $(".viewport-container").empty();
//        pv.viewport = vtkWeb.createViewport({session: pv.connection.session});
//        pv.viewport.bind(".viewport-container");
//    }
//
//    function initRender() {
//        if (pv.connection && pv.connection.session) {
//            pv.connection.session.call("vtk:initRender").then(function(res) {
//            	console.log(res);
//                pv.viewport.render();
//                console.log("called pv.viewport.render()");
//            });
//        }
//    }
//
//    $(window).resize(function() {
//        $(".splitter").height(window.innerHeight - 35);
//        $(".control-panel").height(window.innerHeight - 35);
//    }).trigger('resize');
//
//    function updateView() {
//        if(pv.viewport) {
//            pv.viewport.invalidateScene();
//        }
//    }
//
//    function stop() {
//        if(pv.hasOwnProperty('connection') && pv.connection.session) {
//            pv.viewport.unbind();
//            vtkWeb.stop(pv.connection);
//            pv = {};
//        }
//    }

    var remoteConnection = new uvis.remoteConnection(),
        myplot1 = new uvis.plot("#viewport-container1",
                               {"connection": remoteConnection}),
        myplot3 = new uvis.plot("#viewport-container3",
                               {"connection": remoteConnection}),
        myplot4 = new uvis.plot("#viewport-container4",
                               {"connection": remoteConnection}),
        myview = new uvis.view(),
        myplot2 = new uvis.plot("#viewport-container2",
                               {"connection": remoteConnection});

    myview.addPlot(myplot1);
    myview.addPlot(myplot2);
    myview.addPlot(myplot3);
    myview.addPlot(myplot4);
    function initSheet(){
        myview.contextInit();
    }
    remoteConnection.connect(initSheet);
    /**
    function testDisplay() {
      var data = "/export/leung25/Downloads/clt.nc";
      myplot.setData(data);
      myplot2.setData(data);
      myview.contextInit();
      myview.render();
    }

    // When connected call our display method
    remoteConnection.connect(testDisplay);
    **/

//    var container = $(".viewport-container");
//    container.bind('mouse', function(evt){
//        evt.preventDefault();
//        var vtkWeb_event = {
//            action: evt.action,
//            charCode: evt.charCode,
//            altKey: evt.altKey,
//            ctrlKey: evt.ctrlKey,
//            shiftKey: evt.shiftKey,
//            metaKey: evt.metaKey,
//            buttonLeft: (evt.current_button === 1 ? true : false),
//            buttonMiddle: (evt.current_button === 2 ? true : false),
//            buttonRight: (evt.current_button === 3 ? true : false)
//            },
//            elem_position = $(evt.delegateTarget).offset(),
//            pointer = {
//                    x : (evt.pageX - elem_position.left),
//                    y : (evt.pageY - elem_position.top)
//            };
//
//        vtkWeb_event.x = pointer.x;
//        vtkWeb_event.y = pointer.y;
//
//        action_pending = true;
//        pv.connection.session.call("vtk:mouseInteraction", vtkWeb_event).then(function (res) {
//            if (res !== null) {
//                action_pending = false;
//                console.log(res);
//                $("#data").text(res);
//            }
//        });
//    });

    </script>
</body>
</html>
