.qtree a {
  cursor: pointer;
}

.cdatweb-tree {
  padding-right: 2em;
}

.cdat-draggable {
  cursor: grab;
  cursor: -webkit-grab;
}

.cdat-draggable.ui-draggable-dragging {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
