.qtree a {
  cursor: pointer;
}

.cdatweb-tree {
  padding-right: 2em;
}

.cdat-draggable {
  cursor: grab;
  cursor: -webkit-grab;
}

.cdat-draggable.ui-draggable-dragging {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.cdat-dragging-success {
  cursor: not-allowed;
}

.cdat-plot-panel h3 {
  text-align: center;
}

.variable-selected {
  background: darkgrey;
}

.drop-zone {
  display: block;
  text-align: center;
  margin: auto;
  padding: 10px;
  border: 2px solid #f2f2f2;
}

.drop-zone-success {
  border: 2px solid limegreen;
}