{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}CDAT Web{% endblock title %}</title>
    <script>
      AUTOBAHN_DEBUG = true;
    </script>
    {% block css_meta %}

    {% block css_bootstrap %}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    {% endblock css_bootstrap %}

    {% compress css %}
    {% block css_cdatweb %}
    <link rel="stylesheet" href="{% static "cdatweb/css/jquery-ui.css" %}">
    <link rel="stylesheet" href="{% static "cdatweb/css/cdatweb.css" %}">
    {% endblock css_cdatweb %}

    {% block css_inline %}{% endblock %}
    {% endcompress %}

    {% endblock css_meta %}

    {% block js_jquery %}
    <script type="text/javascript">AUTOBAHN_DEBUG = true;</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {% endblock js_jquery %}
  </head>

  <body>
    {% block body %}{% endblock body %}

    {% block js %}

    {% compress js %}
    {% block js_lodash %}
    <script src="{% static "cdatweb/js/lodash.js" %}"></script>
    <script src="{% static "cdatweb/js/jquery-ui.js" %}"></script>
    <script type="text/javascript">$.widget.bridge('uitooltip', $.ui.tooltip);</script>
    {% endblock %}


    {% block js_bootstrap %}
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/velocity/0.2.1/jquery.velocity.min.js'></script> 
    <script src="{% static "js/spin.min.js" %}"></script> 
    {% endblock js_bootstrap %}

    {% block js_inline %}{% endblock js_inline %}
    {% endcompress %}

    {% endblock js %}
  </body>
</html>
