extends ./base.jade

block prepend body
  nav(role="navigation").navbar.navbar-default
    .navbar-header
      button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle.collapsed
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href="https://github.com/UV-CDAT/cdatweb", target="homepage").navbar-brand CDATWeb
    
    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav.navbar-left
        block navbar_left
      ul.nav.navbar-nav.navbar-right
        block navbar_right
