{% extends "base.html" %}

{% block body %}
<nav role="navigation" class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="https://github.com/UV-CDAT/cdatweb" target="homepage" class="navbar-brand">CDATWeb</a>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-left">
    </ul>
    <ul class="nav navbar-nav navbar-right">
    </ul>
  </div>
</nav>
{{ block.super }}
{% endblock body %}
