<div class="vtk-browser-container">
  <h3>Select a file to open</h3>
  <div class="vtk-file-browser"></div>
</div>
<script type="text/javascript">
  window.app.browser = function (connection) {
    "use strict";

    connection.session.call('file.server.directory.list', ['.'])
      .then(function (files) {
        $(".vtk-file-browser").fileBrowser({
          data: [files],
          session: connection.session
        })
        .bind('file-click directory-click directory-not-found file-group-click', function (e) {
          console.log(e.type + " click: " + e.name + " - path: " + e.path);
          if (e.hasOwnProperty('relativePathList')) {
            console.log(e.relativePathList);
          }
        });
      });
  };
</script>
