{% load staticfiles %}
<script src="{% static "vtkweb/lib/core/vtkweb-loader.js" %}" load="{{ modules|join:", " }}"></script>
<script type="text/javascript">
    $(function () {
        vtkSession = {
            "host": "{{ host }}",
            "secret": "{{ secret }}",
            "sessionURL": "{{ sessionURL }}",
            "id": "{{ id }}",
            "port": {{ port }}
        };

        vtkWeb.connect(
            {
              "sessionURL": vtkSession.sessionURL,
              "secret": vtkSession.secret
            },
            cdat.{{ main|default:"main" }},
            cdat.{{ error|default:"error" }}
        );
    });
</script>
