<script type="text/javascript">
  $(function () {
    var el = $("{{ container }}");
    var sc = $(".vtk-view-container");
    function getSize() {
      var w = sc.width() >= el.width() + 32 ? 'auto' : el.width() + 32;
      var h = sc.height() >= el.height() + 32 ? 'auto' : el.height + 32;
      return {
        width: w,
        height: h
      };
    }
    var title = [
      '<span>',
      '<i class="{{ icon }}"></i>',
      '{{ title }}',
      '</span>'
    ].join('');
    var panel = cdat.make_panel(
      $("{{ container }}").get(0),
      '',
      {
        selector: '.vtk-view-container',
        title: title,
        size: 'auto',
        overflow: '{{ overflow|default:"scroll" }}'
      }
    );
    // If restricting to container doesn't work:
    /*.off('cdat-render').on('cdat-render', function () {
      var size = getSize();
      panel.resize(size.width, size.height);
    });*/
  });
</script>
