<div class="{{ container }}">
  <div class="{{ class }}"></div>
</div>
<script type="text/javascript">
  $(function () {
    var el = $(".{{ container }}");
    var sc = $(".vtk-view-container");
    function getSize() {
      var w = Math.min(sc.width(), el.width());
      var h = Math.min(sc.height(), el.height());
      return {
        width: 'auto',
        height: h
      };
    }
    var title = [
      '<span>',
      '<i class="glyphicon {{ icon }}"></i>',
      '{{ title }}',
      '</span>'
    ].join('');
    var panel = cdat.make_panel(
      $(".{{ container }}").get(0),
      '',
      {
        selector: '.vtk-view-container',
        title: title,
        size: getSize(),
        overflow: '{{ overflow|default:'scroll' }}'
      }
    ).off('cdat-render').on('cdat-render', function () {
      var size = getSize();
      panel.resize(size.width, size.height);
    });
  });
</script>
