{% extends "web_fe/base.html" %}
{% block title %} register {% endblock %}
{% block content %}
  <link href="/acme/static/css/form.css" rel="stylesheet">
  {% load addattributes %}  
 
  {% if registered%}
    <h2>Thank You For Registering</h2>
    <script type="text/javascript">
      window.location.href = "/acme"
     </script>
  
     {% else %}
    <form id="user_form" action="" method="post" class="form-signin">
    <h2>Create An Account</h2>
      {% csrf_token %}
        {% for field in user_form%}
          {% with attr="form-control, placeholder:"|add:field.name %}
            {{ field|addattributes:attr|safe}}
            {% if field.errors %}
              <div class="alert alert-danger" role="alert">
                {{ field.errors }}
              </div>
            {% endif %}
          {% endwith %}
        {% endfor %}
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
    </form>
  
    {% endif %}
{% endblock %}

