{% extends "cdat_fe/base.html" %}
{% block title %} Search {% endblock %}

{% block content %}
<style>
.alert-sm{
  margin-bottom: 10px;
}
</style>
  <div id="search">
    <form id="user_form" action="" method="post" class="search">
      <h2>ESGF Search</h2>
      {% csrf_token %}
      <select type="text" name="host" value="" id="host" class="form-control">
        <option value="http://esg.ccs.ornl.gov/esg-search">esg.css.ornl</option>
        <option value="http://pcmdi.llnl.gov/esg-search">pcmdi.llnl</option>
      </select>
      <div class="alert-sm alert-warning" role="alert">The ESGF host URL to search. For example, "esg.ccs.ornl.gov/esg-search"</div>
      
      <input type="text" name="text" value="" id="text" class="form-control" placeholder="Text">
      <div class="alert-sm alert-warning" role="alert">A free text search query in any metadata field</div>
      
      <input type="text" name="project" value="" id="project" class="form-control" placeholder="Project Name">
      <div class="alert-sm alert-warning" role="alert">Search by project</div>
        
      <select type="text" name="limit" value="" id="limit" class="form-control" placeholder="Limit">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>  
      <div class="alert-sm alert-warning" role="alert">The maximum number of files to return</div>
        
      <input type="number" name="offset" value="" id="offset" class="form-control" placeholder="Off Set">

      <div class="alert-sm alert-warning" role="alert">Start at this result</div>
      <button class="btn btn-primary btn-block" type="submit">Search</button>
    </form>
  </div>

  {% if data != "none" %}
    <br/>
    <hr>
    <div id="results">
      {{ data }}
    </div>
  {% endif %}

{% endblock %}
