{% extends "vtk_view/vtk_base.html" %}

{% block app-body %}

<div class="container-fluid">
  <div class="row">
    <div class="md-col-12 vtk-view-container">

      <div class="vtk-browser-container">
        <div class="vtk-file-browser"></div>
      </div>

      <div class="vtk-search-container">
        <!-- esgf search component -->
        <div id="search">
          <style>
            .alert-sm{
              margin-bottom: 10px;
            }
          </style>
            <h2>ESGF Search</h2>
            {% csrf_token %}
            <select type="text" name="host" value="" id="host" class="form-control">
              <option value="http://esg.ccs.ornl.gov/esg-search">esg.css.ornl</option>
              <option value="http://pcmdi9.llnl.gov/esg-search">pcmdi9.llnl</option>
            </select>
            <div class="alert-sm alert-warning" role="alert">The ESGF host URL to search. For example, "esg.ccs.ornl.gov/esg-search"</div>

            <input type="text" name="text" value="" id="text" class="form-control" placeholder="Text">
            <div class="alert-sm alert-warning" role="alert">A free text search query in any metadata field</div>

            <input type="text" name="project" value="" id="project" class="form-control" placeholder="Project Name">
            <div class="alert-sm alert-warning" role="alert">Search by project</div>

            <select type="text" name="limit" value="" id="limit" class="form-control" placeholder="Limit">
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>  
            <div class="alert-sm alert-warning" role="alert">The maximum number of files to return</div>

            <input type="number" name="offset" value="" id="offset" class="form-control" placeholder="Off Set">

            <div class="alert-sm alert-warning" role="alert">Start at this result</div>
            <a onclick="submit()"  href="javascript:void(0);"><button class="btn btn-success">Search</button></a>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}

<script type="text/javascript">
  function submit(){
    var host =    document.getElementById("host").value;
    var text =    $("input[id=text]").val();
    var project = $("input[id=project]").val();
    var limit =   document.getElementById("limit").value;
    var offset =  $("input[id=offset]").val();

    var jsonObj = new Object;
    jsonObj.host = host;
	  jsonObj.text = text;
	  jsonObj.project = project;
	  jsonObj.limit = limit;
	  jsonObj.offset = offset;
	
	  var jsonStr = JSON.stringify(jsonObj);
	  var search_url = '/vtk/search';
	  $.ajax({
	    type: "POST",
      url: search_url,
	    async: true,
	    cache: false,
  	  data: {query:jsonStr},
  	  dataType: 'json',
  	  success: function(data) {
        results = data.data
        obj = JSON.parse(results)
        alert(str(obj))
      },
		  error: function(request, status, error) {
	      $("div .error").html(request + " | " + status + " | " + error);
	      $("div .error").show();
	    }
	  });
}
</script>

{{ block.super }}
{% include "vtk_view/fragments/panel.html" with container=".vtk-browser-container" help=browser.help icon="fa fa-database" title="Data" overflow="scroll" %}
{% include "vtk_view/fragments/panel.html" with container=".vtk-search-container" help=search.help icon="fa fa-search" title="Search" overflow="scroll" %}
{% endblock %}
