{% extends "vtk_view/vtk_base.html" %}

{% block navbar-right %}
<li><a class="cdat-search-link" href="#">
    <span class="glyphicon glyphicon-search"></span>
    <span>Search</span>
</a></li>
<li><a class="cdat-plot-link" href="#">
    <span class="glyphicon glyphicon-plus"></span>
    <span>Plot</span>
</a></li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
    Examples<span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a onclick="cdat.create_plot('http://test.opendap.org/dap/netcdf/examples/cami_0000-09-01_64x128_L26_c030918.nc', 'TS', 'isofill', 'robinson', 'no_legend')" href="javascript:void(0)">Isofill example</a></li>
    <li><a onclick="cdat.create_plot('http://test.opendap.org/dap/netcdf/examples/cami_0000-09-01_64x128_L26_c030918.nc', 'T', '3d_scalar', 'default', 'default')" href="javascript:void(0)">Volume example</a></li>
    <li><a onclick="cdat.create_plot('http://test.opendap.org/dap/netcdf/examples/cami_0000-09-01_64x128_L26_c030918.nc', ['U', 'V'], '3d_vector', 'default', 'default')" href="javascript:void(0)">Vector3D example</a></li>
  </ul>
</li>
{% endblock navbar-right %}

{% block app-body %}
<div class="container-fluid">
  <div class="row">
    <div class="md-col-12 vtk-view-container">

      <div class="vtk-browser-container">
        <div class="vtk-file-browser"></div>
      </div>
      
      <div class="cdatweb-file-browser cdatweb-tree">
          <ul class="qtree">
            {% for folder in files%}
            <li id="{{folder}}"><a data-path="{{base}}/{{folder}}"> {{folder}} </a>
            <ul id="{{folder}}_child">
            </ul>
            </li>
            {% endfor %}
          </ul>
      </div>

      <div class="cdatweb-plot-selectors cdatweb-tree">
        <ul class="qtree">
          <li><a>Graphic Methods</a>
            <ul class="cdatweb-plot-types"></ul>
          </li>
          <li><a>Templates</a>
            <ul class="cdatweb-plot-templates"></ul>
          </li>
        </ul>
      </div>

      <!--div class="cdatweb-plot-examples cdatweb-tree">
        <ul>
        </ul>
      </div-->
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
{% include "vtk_view/fragments/panel.html" with container=".cdatweb-file-browser" help=search.help icon="fa fa-search" title="File Browser" overflow="scroll" %}
{% include "vtk_view/fragments/panel.html" with container=".cdatweb-plot-selectors" help=search.help icon="fa fa-search" title="Plot Selectors" overflow="scroll" %}
{% endblock %}
