{% extends "vtk_view/vtk_base.html" %}

{% block navbar-right %}
<li><a class="cdat-search-link" href="#">
    <span class="glyphicon glyphicon-search"></span>
    <span>Search</span>
</a></li>
<li><a class="cdat-plot-link" href="#" onclick="cdat.make_plot_panel()">
    <span class="glyphicon glyphicon-plus"></span>
    <span>Plot</span>
</a></li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
    Examples<span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a onclick="cdat.create_plot('/home/chaudhary/tools/cdatweb/src.git/tmp/data/clt.nc', 'clt', 'isofill', 'robinson', 'default')" href="javascript:void(0)">Isofill example</a></li>   
  </ul>
</li>
{% endblock navbar-right %}

{% block app-body %}
<div class="container-fluid">
  <div class="row">
    <div class="md-col-12 vtk-view-container">

      <div class="vtk-browser-container">
        <div class="vtk-file-browser"></div>
      </div>

      <div class="cdatweb-file-browser cdatweb-tree">
          <ul class="qtree">
            {% for folder in dirs%}
            <li id="{{folder}}"><a class="cdatweb-dir" data-path="{{base}}/{{folder}}"> {{folder}} </a>
            <ul id="{{folder}}_child">
            </ul>
            </li>
            {% endfor %}
            {% for folder in files%}
            <li id="{{folder}}"><a class="cdatweb-file" data-path="{{base}}/{{folder}}"> {{folder}} </a>
            <ul id="{{folder}}_child">
            </ul>
            </li>
            {% endfor %}
          </ul>
      </div>

      <div class="cdatweb-plot-selectors cdatweb-tree">
        <ul class="qtree">
          <li><a>Graphic Methods</a>
            <ul class="cdatweb-plot-types"></ul>
          </li>
          <li><a>Templates</a>
            <ul class="cdatweb-plot-templates"></ul>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
{% include "vtk_view/fragments/panel.html" with container=".cdatweb-file-browser" help=search.help icon="fa fa-search" title="File Browser" overflow="scroll" %}
{% include "vtk_view/fragments/panel.html" with container=".cdatweb-plot-selectors" help=search.help icon="fa fa-search" title="Plot Selectors" overflow="scroll" %}
{% endblock %}
