{% extends "nav.html" %}
{% load staticfiles %}

{% block css_meta %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}cdatweb/vtk_view/css/vtk_view.css">
{% endblock %}

{% block body %}
{{ block.super }}
<div class="vtk-view-container"></div>
{% endblock %}

{% block js %}
{{ block.super }}
<script src="{% static "vtkweb/lib/core/vtkweb-loader.js" %}" load="{{ modules|join:", " }}"></script>
<script src="{% static "cdatweb/vtk_view/js/app-main.js" %}"></script>
<script type="text/javascript">
  vtkSession = {
    "host": "{{ host }}",
    "secret": "{{ secret }}",
    "sessionURL": "{{ sessionURL }}",
    "id": "{{ id }}",
    "port": {{ port }}
  };

  vtkWeb.connect(
    {
      "sessionURL": vtkSession.sessionURL,
      "secret": vtkSession.secret
    },
    {{ main|default:"appMain" }},
    appError
  );
</script>
{% endblock %}
