{% extends "nav.html" %}
{% load staticfiles %}

{% block css_meta %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}cdatweb/vtk_view/css/vtk_view.css">
{% endblock %}

{% block body %}
{{ block.super }}
<div class="vtk-view-container"></div>
{% endblock %}

{% block js %}
{{ block.super }}
<script src="{% static "cdatweb/vtk_view/js/autobahn.min.js" %}"></script>
<script src="{% static "cdatweb/vtk_view/js/gl-matrix-min.js" %}"></script>
<script src="{% static "cdatweb/vtk_view/js/jquery.hammer.min.js" %}"></script>
<script src="{% static "cdatweb/vtk_view/js/vgl.js" %}"></script>
<script src="{% static "cdatweb/vtk_view/js/vtkweb-all.js" %}"></script>
<script src="{% static "cdatweb/vtk_view/js/app-main.js" %}"></script>
<script type="text/javascript">
  vtkSession = {
    "host": "{{ host }}",
    "secret": "{{ secret }}",
    "sessionURL": "{{ sessionURL }}",
    "id": "{{ id }}",
    "port": {{ port }}
  };

  vtkWeb.connect(
    {
      "sessionURL": vtkSession.sessionURL,
      "secret": vtkSession.secret
    },
    appMain,
    appError
  );
</script>
{% endblock %}
