extends nav.jade

block append css_meta
  link(rel="stylesheet", href="{{ STATIC_URL }}cdatweb/vtk_view/css/vtk_view.css")

block append body
  .vtk-view-container

block append js
  script(src="{{ STATIC_URL }}cdatweb/vtk_view/js/autobahn.min.js")
  script(src="{{ STATIC_URL }}cdatweb/vtk_view/js/gl-matrix-min.js")
  script(src="{{ STATIC_URL }}cdatweb/vtk_view/js/jquery.hammer.min.js")
  script(src="{{ STATIC_URL }}cdatweb/vtk_view/js/vgl.js")
  script(src="{{ STATIC_URL }}cdatweb/vtk_view/js/vtkweb-all.js")
